body {
	background-color: #4A4A4A;
}

#mcontainer {
	margin: auto;
	height: 600px;
	width: 55%;
	background-color: #F1EBE4;
	border-radius:5px;
}

#userinput {
	display: inline-block;
	position: relative;
	height:20px;
	width:200px;
	border-radius: 3px;
	border: 1px solid #6A89B2;
	right: 20%;
}

#video {
	margin-left:17%;
	margin-top:20px;
}

#logobar {
	height: 150px;
	width: 40%;
	margin-left: 23%;
	
}

#logotext {
	position: relative;
	bottom: 10px;
	left: 8%;
	display: inline-block;
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 60px;
}


#details {
	margin-top:20px;
	width: 100%;
	height: 65px;
	background-color: #6A89B2;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	

}

#views {
	display: inline-block;
	margin-left: 5px;
	width: 25%;
		
}

#author {
	display: inline-block;
	margin-left:5%;
	height: 60px;
	width: 35%;
	
}

#likes {
	display: inline-block;
	margin-left:5%;
	width:25%;

}

#searchbox {
	float:right;
	width:300px;
	margin-right: 17%;
	margin-top: 7%;
}

#result {
	position:relative;
	top:10px;
	width:80%;
	height:500px;
	margin:auto;

}

#iframe {
	height:100%;
	width:100%;
}

#toolbox {
	height:35px;
	width:35px;
	background-image:url('img/ops.png');
	cursor: pointer;
}

#options {
	font-family: 'Oswald', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
	position: absolute;
	height: 90%;
	width: 15%;
	background-color: #F1EBE4;
	top: 5%;
}

.otext {
	width: 100%;
	height: 100%;
}

#go {
	position: relative;
	right: 19%;
}

#vidtitle {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding-top: 5px;
}